<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="smtp_server_one" value="192.168.48.27" />
    <add key="smtp_server_two" value="192.168.48.26" />
    <add key="smtp_server_three" value="192.168.48.25" />
    <add key="smtp_username" value="ecobot" />
    <add key="smtp_password" value="Boteco@200" />
    <!--<add key="dbip" value="EPN-SQLUAT-01,1434" />-->
    <add key="port" value="25" />
    <add key="dbip" value="ESC2581\SQLEXPRESS" />
   
    <!--<add key="dbip" value="ISW-ENGR-UE"/>-->
    <!--<add key="db" value="Inventory"/>-->
    <add key="db" value="RPA" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>